<div class="container">

  <div class="row">
    <%= render "public/shared/error_messages", resource: @post %>
  </div>

  <div class="row">
    <div class="col-md-3 text-center mt-3 col align-self-start">
      <h3 >投稿編集画面</h3>
    </div>

    <div class="col-md-8">
    <%= form_with model: @post do |f| %>
      <div class="field mt-5 ">
        <%= f.label :"投稿記入欄", class: "col-sm-3 d-flex align-items-start" %>
        <%= f.text_area :content, size: "50x4" %>
      </div>

      <div class="form-group">
          <%= f.label 'タグ選択', class: "col-sm-2 mt-2" %>
          <%= f.collection_select :tag_id, Tag.all, :id, :name, class: "col-sm-3 form-control border-dark" %>
      </div>

      <div class="actions text-center mt-1">
        <%= f.submit "編集完了", class: "btn btn-success" %>
      </div>

　　<% end %>
    </div>

  </div>
  <div class="mt-auto">
    <%= image_tag asset_path("22457750.jpg"), size:'130x180' %>
  </div>
</div>