<div class="container">

  <div class="row">
    <h4 class="text-primary">
      <%= render "public/shared/success_messages" %>
    </h4>
  </div>

  <div class="row">
    <div class="col-md-3 text-center">
      <div class="mt-3">
        <h3>投稿詳細ページ</h3>
      </div>
    </div>
  </div>

  <div class="row">
  <div class="card mb-3 col-md-11">
    <div class="card-header mx-0" style="background-color: rgb(250, 250, 150);">
      <div class="d-flex align-items-center">
          <%= image_tag @post.user.get_profile_image, size: "50x50" %>

        <div class="mb-0 ml-0 mt-3">
          <p>・<%= @post.user.name %>
             ・タイプ : <%= @post.user.helper_type %>
             ・タグ : <%= @post.tag.name %>
             ・投稿日時 : <%= @post.created_at.strftime('%Y/%m/%d') %></p>
        </div>
      </div>

    </div>
    <div class="card-body d-flex align-items-center">
      <p class="card-text col-sm-9"><%= @post.content %></p>
      <div class="col-sm-2">
        <div id="favorite_buttons_<%= @post.id %>">
          <%= render "public/favorites/btn", post: @post %>
        </div>
        <%= link_to "投稿一覧へ", posts_path %><br>
        <%= link_to "投稿編集へ", edit_post_path(@post) %>
      </div>
      <div class="actions col-md-2 mt-1">

        <%= link_to "投稿削除", post_path, method: :delete, class: "btn btn-danger" %>
      </div>
    </div>
  </div>

  <div class="post_comments-count_<%= @post.id %>  col-sm-3 mt-2 mb-2">
    コメント件数 :<%= @post.post_comments.count %>
    <!--%= render "public/post_comments/counter", post: @posts %-->
  </div>

  <div class="row mt-3 mb-2">
    <div class="d-flex align-items-center col-md-7 offset-md-2">
    <%= form_with model: [@post, @post_comment], local: false do |f| %>
      <%= f.text_area :comment, size: "40x4", placeholder: "コメントをここに" %>
      <div class="actions text-right mt-2 mb-2">
        <%= f.submit "送信する", class: "btn btn-success" %>
      </div>
    <% end %>
    </div>
  </div>

  </div>

  <%= render 'public/post_comments/index', post: @post %>

<!--<div class="post_comments">-->
<!--  <% @post.post_comments.each do |post_comment| %>-->
<!--<div class="row">-->
<!--    <div class="card mb-3 col-md-10 offset-1">-->

<!--        <div class="card-title d-flex align-items-center">-->
<!--          <div class="col-sm-1 mt-3"><%= image_tag post_comment.user.get_profile_image, size: "50x50" %></div>-->
<!--          <div class="col-sm-2"><%= post_comment.user.name %></div>-->
<!--          <div class="col-sm-2">-->
<!--            <%= post_comment.created_at.strftime('%Y/%m/%d') %>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="card-body d-flex align-items-center">-->
<!--         <p class="card-text col-sm-8"><%= post_comment.comment %>></p>-->
<!--        <div class="col-sm-2">-->
<!--          <div id="like_buttons_<%= post_comment.id %>">-->
<!--            <%= render "public/likes/like", post_comment: post_comment %>-->
<!--          </div>-->
<!--            <%= link_to "コメント編集へ", edit_post_post_comment_path(post_comment.post,post_comment) %>-->
<!--        </div>-->
<!--        <div class="actions col-md-3">-->
<!--          <%= link_to "コメント削除", post_post_comment_path(post_comment.post,post_comment), method: :delete, remote: true, class: "btn btn-danger" %>-->
<!--        </div>-->

<!--      </div>-->
<!--    </div>-->
<!--</div>-->
<!--  <% end %>-->
<!--</div>-->

</div>
