<div class="container">
  <div class= "row">
    <div class= "col-md-3">
      <h4>管理者ログイン</h4>
    </div>
  <div class="col-md-12">
    <%= form_with model: @admin, url: admin_session_path do |f| %>

    <div class="field">
      <%= f.label "メールアドレス", class: "col-sm-3" %>
      <%= f.email_field :email, autofocus: true, size: 50, autocomplete: "email",placeholder:"example@mail.com" %>
    </div>

      <div class="field">
        <%= f.label "パスワード", class: "col-sm-3 mt-2" %>
        <%= f.password_field :password, size: 50, autocomplete: "current-password",placeholder:"6桁以上の英数字" %>
      </div>

      <div class="actions text-center mt-2">
        <%= f.submit "ログイン",class:"btn btn-primary" %>
      </div>

    <% end %>
        <%= render "admin/shared/links" %>
  </div>
</div>