<div class="container">

  <div class="row">
    <%= render "public/shared/error_messages", resource: @post_comment %>
  </div>

  <div class="row">
    <div class="col-md-3 text-center mt-3 col align-self-start">
      <h3 >コメント編集画面</h3>
    </div>

    <div class="col-md-8">
    <%= form_with model: [@post, @post_comment] do |f| %>
      <div class="field mt-5 ">
        <%= f.label :"コメント編集欄", class: "col-sm-3 d-flex align-items-start" %>
        <%= f.text_area :comment, size: "50x4" %>
      </div>

      <div class="actions text-center mt-1">
        <%= f.submit "編集完了", class: "btn btn-success" %>
      </div>

　　<% end %>
    </div>

  </div>
  <div class="mt-auto">
    <%= image_tag asset_path("22457750.jpg"), size:'150x200' %>
  </div>
</div>