<div class= "container">

  <div class="row">
    <h4 class="text-primary">
      <%= render "public/shared/success_messages" %>
    </h4>
  </div>

  <div class= "row">
    <div class="col-md-2 text-center">
      <div class="mt-5">
        <h3>会員一覧</h3>
      </div>
    </div>

    <table class= "table table-hover table-inverse mt-2">
      <thead class="bg-light">
        <tr>
          <th>会員id</th>
          <th>プロフィール画像</th>
          <th>ニックネーム</th>
          <th>ユーザータイプ</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= image_pack_tag user.get_profile_image, size: "60x60" %></td>
          <td><%= link_to user.name, admin_user_path(user.id) %></td>
          <td><%= user.helper_type %></td>
          <% if user.is_deleted == false %>
            <td class="text-success">有効</td>
          <% else %>
            <td class="text-secondary">退会</td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @users %>
    <!--ページネーション-->
  </div>
</div>
