<div class="container">
  <div class="row">
    <div class="col-md-2 text-center">
      <div class="bg-light mt-3">
        <h3>会員情報ページ</h3>
      </div>
    </div>
    <div class="col-md-8">
      <div class="d-flex mt-3">
        <h4>登録情報</h4>
        <%= link_to "編集する", edit_admin_user_path(@user), class: "btn mx-md-4 btn-success ml-1" %>
      </div>

      <div class="field border-bottom mt-2">
        <p>プロフィール画像</p>
        <%= image_tag @user.get_profile_image, size:'100x100' %>
      </div>

      <div class="d-flex border-bottom mt-2">
        <p class= "col-sm-4">ニックネーム</p>
        <p><%= @user.name %></p>
      </div>

      <div class="d-flex border-bottom mt-2">
        <p class= "col-sm-4">自己紹介</p>
        <p><%= @user.introduction %></p>
      </div>

      <div class="d-flex border-bottom mt-2">
        <p class= "col-sm-4">ユーザータイプ</p>
        <p><%= @user.helper_type %></p>
      </div>

      <div class="d-flex border-bottom mt-2">
        <p class= "col-sm-4">ステータス</p>
        <% if @user.is_deleted == false %>
          <p class="text-success">有効</p>
        <% else %>
          <p class="text-secondary">退会</p>
        <% end %>
      </div>


      <div class="d-flex mt-2">
        <!--<p><%=link_to"お気に入り投稿一覧へ",favorites_user_path(@user) %></p>-->
      </div>
    </div>
  </div>

    <div class="row">

      <div class="col-md-6">

        <div class="col-md-3 text-center">
          <div class="bg-light mt-5">
            <p>投稿一覧</p>
          </div>
        </div>

        <%= render 'admin/posts/index',posts: @posts %>
      </div>

      <div class="col-md-6">

        <div class="col-md-3 text-center">
          <div class="bg-light mt-5">
            <p>コメント一覧</p>
          </div>
        </div>

        <%= render 'admin/post_comments/index',post_comments: @post_comments %>
      </div>

    </div>

  </div>
</div>

