<div class="container">
  <div class="row">
    <%= render "public/shared/error_messages", resource: @user %>
  </div>

  <div class="row">
    <div class="col-md-3 text-center mt-3 col align-self-start">
      <h3 >会員情報編集</h3>
    </div>
    <div class="col-md-8">
      <%= form_with model: @user,url:user_path(@user),method: :patch do |f| %>



      <div class="row d-flex border-bottom mt-3 col-sm-8">
         <%= f.label '会員画像', class: "col-sm-4" %>
         <%= f.file_field :profile_image, accept: "image/*" %>
      </div>

      <div class="row d-flex border-bottom mt-2 col-sm-8">
        <%= f.label :"ニックネーム", class: "col-sm-4" %>
        <%= f.text_field :name %>
      </div>

      <div class="row d-flex border-bottom mt-2 col-sm-8">
        <%= f.label :"メールアドレス", class: "col-sm-4" %>
        <%= f.text_field :email %>
      </div>

      <div class="row d-flex border-bottom mt-2 d-flex align-items-start col-sm-10">
        <%= f.label :"自己紹介", class: "col-sm-3" %>
        <%= f.text_area :introduction, size: "40x4" %>
      </div>

      <div class="row d-flex border-bottom mt-2 col-sm-8">
        <%= f.label :"ユーザータイプ", class: "col-sm-4" %>
        <%= f.select :helper_type,User.helper_types.keys, class:"helper_type" %>
      </div>

      <div class="actions text-center mt-2">
        <%= f.submit "編集内容を保存", class: "btn btn-success" %>
        <%= link_to "退会する",check_path(@user),class: "btn mx-md-4 btn-danger" %>
      </div>
        <% end %>
      </div>
    </div>
    <div class="text-right">
      <%= image_tag asset_path("23867223.jpg"), size:'140x100' %>
    </div>
  </div>
</div>
