<div class="container-fluid" style="background-color: rgb(200, 200, 0);">
  <div class="row">
    <div class="col-md-5 mt-3 mb-3 ">

      <%= link_to root_path do %>
  <i class="fas fa-thermometer fa-4x mr-3" style="color: #ffffff"></i>
      <% end %>
    </div>

    <div class="col-md-7 text-right mt-3 mb-5">
      <p>
      <% if admin_signed_in? %>
      　<%= link_to "会員一覧",admin_users_path ,class: 'btn btn-light text-dark' %>
        <%= link_to "タグ一覧",admin_tags_path ,class: 'btn btn-light text-dark' %>
        <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'btn btn-light text-dark' %>
      <% elsif user_signed_in? %>
        <%= link_to "投稿一覧", posts_path,class: 'btn btn-light text-dark' %>
        <%= link_to "新規投稿", new_post_path,class: 'btn btn-light text-dark' %>
        <%= link_to "マイページ", user_path(current_user),class: 'btn btn-light text-dark' %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn btn-light text-dark' %>
      <% else %>
        <%= link_to "新規登録", new_user_registration_path,class: 'btn btn-light text-dark' %>
        <%= link_to "ログイン", new_user_session_path,class: 'btn btn-light text-dark' %>
        <%= link_to 'ゲストログイン（閲覧用）', posts_guest_sign_in_path, method: :post,class: 'btn btn-light text-dark' %>
      <% end %>
      </p>
    </div>
  </div>
</div>