<!DOCTYPE html>
<html>
  <head>
    <title>HelperCommu</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>


  <!--<body  class="d-flex flex-column vh-100" style="background-color: rgb(250, 250, 230);">-->
  <!--bodyカラー変更記述-->
  <body class="d-flex flex-column vh-100">
  <!--bodyはscssで背景を設定-->
      <%= render 'layouts/header' %>
      <main class="mb-auto">
      <%= yield %>
      </main>
      <%= render 'layouts/footer' %>
  </body>

</html>
